<h1>Eat Da Burger</h1>

<ul>
  {{#each plans}}
  <li>
    <p>
      {{this.id}}. {{this.plan}}

      <button data-planid="{{this.id}}" class="delplan">Delete Plan!</button>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="addburger" class="button-size">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Add Burger!</button>
</form>

<h2>Devour</h2>
<form id="updateplan" class="button-size">
  <select name="id">
		{{#each plans}}
			<option value="{{this.id}}">{{this.plan}}</option>
		{{/each}}
	</select>
  <textarea type="text" name="plan" placeholder="plan"></textarea>
  <button type="submit">Update Plan!</button>
</form>

<script type="text/javascript">
  $(".delplan").on("click", function(event) {
    // Get the ID from the button.
    // This is shorthand for $(this).attr("data-planid")
    var id = $(this).data("planid");

    // Send the DELETE request.
    $.ajax("/api/plans/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#addburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=plan] will find an element with a "name" attribute equal to the string "plan"
    var newBurger = {
      plan: $("#addburger [name=burger]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/plans", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("added new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
 
</script>